<h1>Single Restaurant</h1>

<p> Name: <%=  @restaurant.name  %> </p>
<p> Address: <%=  @restaurant.address  %> </p>
<p> Cetgory: <%=  @restaurant.category  %> </p>
<p> <%=  link_to "Back", restaurants_path %> </p>
